@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shard style */
.display_flex {
  display: flex;
}
.dark_02{
  color: #424242;
}
.bg_light{
color: rgb(249, 135, 14);
}

/* nav section start */
.navbar {
  justify-content: space-between;
}
.baner{
  font-size: 45px;
  font-weight: 700;
}
.nav_item {
  list-style: none;

}

.nav_link {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 500;
}

/* nav section end */